* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elemento root é a tag <html></html> */
:root{
  /* font-size: 10px; */

  /*Por padrão, 100% equivale a 16px especificados pelo navegador*/
  font-size: 62.5%; /*62.5% = 10px*/
}


body {
height: 100vh;
color: white;
background: #EBF2F5;
}

body, input, button, textarea{
  font: 400 1.8rem/1 'Nunito', 'sans-serif'; /*Shorthand property*/

  /*Tamanho da fonte do body é 180% da fonte do pai (no caso, a tag <html></html>)*/
  /* Portanto, 1.8em equivale a 18px (10px x 1.8) como foi especificado no seletor :root */
  /* font-size: 1.8em;   */
  /* font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  font-family: 'Nunito', sans-serif; */
}